body {
    padding-top: 56px;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    height: 70px;
}

.navbar-brand {
    margin-left: 0;
    padding-left: 0;
}

.container {
    padding-left: 0;
}

.navbar.bg-custom {
    background-color: #262626;
}

.navbar-nav.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.header-logo {
    max-height: 50px;
}

.header-link {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.header-link:hover {
    text-decoration: underline;
}

.header-icon {
    max-height: 20px;
    margin-left: 10px;
}

.ml-auto {
    margin-left: auto;
}

.aside-button {
    width: 100%;
}

.aside-icon {
    max-height: 30px;
    margin-right: 10px;
}

.aside-divider {
    border-bottom: 1px solid #dee2e6;
    margin: 20px 0;
}

.breadcrumb-icon {
    max-height: 20px;
    margin-right: 5px;
}

.table-responsive {
    position: absolute;
    border-radius: 8px;
    overflow-y: auto;
}

.search-bar {
    width: 435px;
}

.table-icon {
    max-height: 30px;
    margin-right: 10px;
}

.table-centered {
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.table-striped thead {
    background-color: #262626;
    color: #FFFFFF;
    border-radius: 8px;
}

.table-striped tbody td {
    background-color: #FFFFFF;
}

.btn-primary {
    color: #262626;
    background-color: #FFFFFF;
    border-color: #262626;
}

.btn-primary:hover {
    background-color: #262626;
    color: #FFFFFF;
}

.breadcrumb {
    background-color: #FFFFFF;
    color: #262626;
}

aside {
    height: 953px;
    width: 249px;
    overflow-y: auto;
}

body {
    padding-top: 0;
}

.navbar {
    margin-bottom: 0;
}

.aside {
    padding-top: 0;
}

.main {
    padding-top: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.button-box {
    background-color: #262626;
}

.button-box button {
    border-right: 8px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    margin: 0 5px;
}

.breadcrumb-item a {
    color: #262626;
}

.breadcrumb-item a:hover {
    color: #262626;
}

.text-boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text-box {
    padding: 10px;
    border-radius: 5px;
    width: 170px;
    height: 22px;
    background-color: #262626;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box:nth-child(1) span {
    color: #ccd4cd; 
}

.text-box:nth-child(2) span {
    color: #ca7374;
}

.text-box:nth-child(3) span {
    color: #35ae82; 
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #FFFFFF;

}
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Estilização para o ícone de dropdown */
summary::-webkit-details-marker {
    display: none; /* Esconde o ícone padrão do dropdown */
}

summary {
    cursor: pointer; /* Altera o cursor para indicar que o elemento é clicável */
    outline: none; /* Remove a borda ao redor do summary quando focado */
    user-select: none; /* Impede a seleção de texto dentro do summary */
    display: flex;
    align-items: center;
}

/* Estilização para o texto dentro do summary */
summary img {
    max-height: 20px;
    margin-right: 5px; /* Espaçamento entre a imagem e o texto */
}

/* Estilização para os itens dentro do dropdown */
ul {
    list-style: none; /* Remove os marcadores de lista padrão */
    padding-left: 20px; /* Espaçamento à esquerda para subníveis */
    background-color: #FFFFFF;
}

/* Estilização para os detalhes e subníveis */
details {
    margin-bottom: 5px; /* Espaçamento entre os itens */
}

/* Estilização para o texto dentro dos detalhes */
details summary {
    padding: 5px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    background-color: #FFFFFF; /* Cor de fundo */
}

/* Estilização para o texto dentro dos detalhes */
details summary span {
    color: #FFFFFF; /* Cor do texto */
}

/* Estilização para o texto dentro dos subníveis */
ul li details summary {
    background-color: #FFFFFF; /* Cor de fundo dos subníveis */
}

/* Estilização para o texto dentro dos subníveis */
ul li details summary span {
    color: #FFFFFF; /* Cor do texto dos subníveis */
}